// remove arrows from input field
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

// remove arrows from select field
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

li.page-item > a {
  color: #3c4b64 !important;
}

li.active.page-item > a {
  border-color: #3c4b64 !important;
  background-color: #3c4b64 !important;
  color: #fff !important;
}
